a{
    text-decoration: none
}

.navContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
}
span{
    height: 100%;

}
button{
    background-color: #FFC857;
height: 3rem;}
