form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.searchBarExplain{
    color: white;
    font-size: 2rem;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 5%;
}
.searchBar{
    border-radius: 5rem;
    width: 35%;
    height: 3rem;
    border: .2rem solid black;
    margin: auto;
    margin-top: 5%;
    padding-left: 1rem;   
    font-family: inherit;
    font: black;  
    font-size: 1.25rem;
}

::placeholder {
    color: black;
}

ul{
    background-color: white;
    border-radius: 5rem;
    width: 35%;
    border: .2rem solid black;
    list-style-type: none;
}
li{

}
