.headerContainer{
background-color: #62B6CB;
margin-top: 0;
height: 15rem;
}

.headerText{
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-top: 3%;
   }
.searchContainer{

}
